.image{
    border:1px solid black;
    border-radius: 50%;
    width:40px;
    height:40px;
    margin-top: 10px;
}

.box{
    display:flex;
    height:40px;
}

.name{
    margin-left: 30px;
    font-size: 14px;
    margin-top: 10px;
}

.email{
    margin-left: 40px;
    margin-top: -10px;
    font-size: 14px;
}