.inputbox{
    display: flex;
    flex-direction: column;
    width:300px;
    margin: auto;
    gap:20px;
    margin-top: 20px;
}

.name{
    border:1px solid black;
    padding-left: 10px;
}

.pass{
    border:1px solid black;
    padding-left: 10px;
}

.navbar{
    display: flex;
    align-items: center;
}